<div class="container">
    <ul>
      <% @chatrooms.each do |chatroom| %>
        <% chatroom.invitations.each do |invitation| %>
          <% if invitation.asker == current_user || invitation.receiver == current_user %>
          <div class="chatroom-list">
            <li><%= link_to chatroom.name, chatroom_path(chatroom) %></li>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </ul>
</div>
