<div class="container">
  <% @chatrooms.each do |chatroom| %>
    <% chatroom.invitations.each do |invitation| %>
      <% if invitation.asker == current_user || invitation.receiver == current_user %>
        <%= link_to chatroom.name, chatroom_path(chatroom) %>
      <% end %>
    <% end %>
  <% end %>
</div>
