<div class="container">
  <%= simple_form_for @chatroom do |f| %>
  <%= f.input :name %>
  <%#= f.input :user, :as => :hidden, :input_html => { :value => params[:user] } %>
  <%= f.input :user_array, :as => :hidden, :input_html => { :value => params[:invitation][:invite] } %>
  <%= f.submit %>
  <% end %>
</div>
