<h1>All User (index) #test</h1>

<div class="container w-100" style="padding: 5px;">
  <div class="row w-100">
      <div class="card-product col d-flex justify-content-center shadow">
          <div class="col-3 d-flex justify-content-center">
             <h2> Darker column </h2>
          </div>
          <div class="card-body col-9 d-flex justify-content-center">
            <h2> Trip to "name_of_the_trip"</h2>
            <p> Trip description </p>
            <br>
            <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, "#" %>
            <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, "#", class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete"}%>
          </div>
      </div>
  </div>

  <div class="row p-3">
      <% @users.each do |user| %>
    <div class="card mt-3 shadow" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="box card-body">
          <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
          <p class="card-text"> SPACE TO PUT THE BIO </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Invite</a>
          <a href="#" class="card-link">Favourite</a>
        </div>
    </div>
      <% end %>
  </div>
</div>
