<% case sport %>
<% when 'Surfing' %>
  <span class="material-symbols-outlined">surfing</span>
<% when 'Skateboarding' %>
  <span class="material-symbols-outlined">skateboarding</span>
<% when 'Mountain bike' %>
 <span class="material-symbols-outlined">pedal_bike</span>
<% when 'Paragliding' %>
 <span class="material-symbols-outlined">paragliding</span>
<% when 'Hiking' %>
 <span class="material-symbols-outlined">hiking</span>
<% when 'Skiing/Snowboarding' %>
 <span class="material-symbols-outlined">downhill_skiing</span>
<% end %>
