<div class="landingbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/450062/pexels-photo-450062.jpeg?cs=srgb&dl=pexels-tirachard-kumtanom-450062.jpg&fm=png);">
  <div class="container">
    <h1>Meet new <strong>people</strong></h1>
    <h2><span data-controller="typed-js"></span></h2>
    <a class="btn btn-flat" href="#">Sign up</a>
  </div>
</div>

<h2>With this few steps</h2>

<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="Card title">Sign up</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="Card title">Find your buddies</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="Card title">Organize your trip together</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
