<div class="landingbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/450062/pexels-photo-450062.jpeg?cs=srgb&dl=pexels-tirachard-kumtanom-450062.jpg&fm=png);">
  <div class="container">
    <h1>Meet new <strong>people</strong></h1>
    <h2><span data-controller="typed-js"></span></h2>
    <a class="btn btn-flat" href="#">Sign up</a>
  </div>
</div>

<div>
  <h2 class="text-center mt-3 mb-5">With this few steps</h2>
</div>

<div class="container">
  <div class="row ms-5 ps-5">
    <div class="lcard col-md-3 d-flex shadow light border" style="width: 17rem;">
      <div class="lcard-body text-center">
        <i class="fa-solid fa-right-to-bracket h1"></i>
        <h5 class="lCard title">Sign up</h5>
        <p class="lcard-text">Create an account with your informations.</p>
      </div>
    </div>
    <div class="lcard col-md-3 d-flex shadow light border" style="width: 17rem;">
      <div class="lcard-body text-center">
        <i class="fa-solid fa-magnifying-glass h1"></i>
        <h5 class="lCard title">Find your buddies</h5>
        <p class="lcard-text">Insert the date of your trip and your sports of interest.</p>
      </div>
    </div>
    <div class="lcard col-md-3 d-flex shadow light border" style="width: 17rem;">
      <div class="lcard-body text-center">
        <i class="fa-solid fa-people-arrows h1"></i>
        <h5 class="lCard title">Organize your trip together</h5>
        <p class="lcard-text">Contact the bodies who has the similar journey as you.</p>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 class="text-center mt-5 mb-5">You will be able to share a sports trip anywhere in the world</h2>
</div>
