<div class="container card-align w-75">
  <% @albums.each do |a| %>
    <% if a.trip.user == current_user %>
        <div class="card mb-3">
          <% if a.photos.attached? %>
            <% a.photos.first do |photo| %>
                <%= cl_image_tag photo.key, height: 260, crop: :fill, style: 'width: auto;' %>
                <% end %>
          <% else %>
            <img src="..." class="card-img-top" alt="...">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to a.trip.address, album_path(a) %></h5>
            <p class="card-text">We could leave this place for the ser write something. or not...</p>
            <p class="card-text"><small class="text-muted">Last updated <%= a.updated_at %></small></p>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
