<div class="container">
  <%= link_to 'Add Photos', edit_album_path(@album) %>
  <%= link_to 'Delete', album_path(@album), data: { turbo_method: :delete, turbo_confirm:
  "You WON'T be able to RECOVER the album and it's photos. Are you sure you want to Delete?" } %>
</div>

<div class="container w-100">
  <div class="row ">
    <% if @album.photos.attached? %>
      <% @album.photos.order("created_at DESC").each do |photo| %>
        <div class="col-4 border box-shadow">
          <div class="card profile-card-5">
            <div class="card-img-block">
              <%= cl_image_tag photo.key, height: 260, crop: :fill, style: 'width: auto;' %>
            </div>
            <div class="card-body pt-0">
              <p class="card-text">Put a subtitle for photo</p>
              <%= link_to delete_photo_attachment_album_path(photo), data: { turbo_method: :delete, turbo_confirm: 'Are you sure ?' } do %>
                <i class="far fa-trash-alt" style="font-size: 15px;" title="Delete this file"></i>
              <% end %>
            </div>
      <% end %>
          </div>
    <% else %>
      <img src="https://www.agora-gallery.com/advice/wp-content/uploads/2015/10/image-placeholder.png" alt="">
    <% end %>
  </div>
</div>
