.my-button {
  width: 120px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: $tiffany-blue;
  &:hover{
    color: white;
    background-color: $deep-jungle-green;
  }
}

.outline {
  color: $tiffany-blue;
  background-color: $light-gray;
  &:hover{
    color: $tiffany-blue;
    background-color: rgb(223, 223, 223);
  }
}

#send {
  height: 50px;
  position: relative;
  top: 37px;
  left: 7px;
  width: 120px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.checkbox_button:checked + label {
  background-color: $tiffany-blue;
  color: white;
}

#scroll-button {
  position: fixed;
  right: 10px;
  bottom: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: $tiffany-blue;
  font-size: 2rem;
}

#chatroom-btn {
  width: 162px;
}
