.my-button {
  width: 120px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: $tiffany-blue;
}

.outline {
  color: $tiffany-blue;
  background-color: $light-gray;
  &:hover{
    color: $tiffany-blue;
    background-color: rgb(223, 223, 223);
  }
}

#send {
  position: absolute;
  top: 21%;
  right: 0;
  width: 22%;
  color: white;
  font-weight: bold;
  font-size: 137%;
  height: 47%;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.checkbox_button:checked + label {
  background-color: $tiffany-blue;
  color: white;
}

#scroll-button {
  position: fixed;
  right: 10px;
  bottom: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: $tiffany-blue;
  font-size: 2rem;
}

#chatroom-btn {
  font-weight: bold;
  width: 162px;
  background-color: #cc5200;
  color: white;
  &:hover{
  color: $tiffany-blue;
  background-color: #d77736;
  color: white;
  }
}

#invite-profile{
  font-size: 153%;
  height: 50px;
  font-weight: bold;
  width: 162px;
  background-color: #cc5200;
  color: white;
  &:hover{
  color: $tiffany-blue;
  background-color: #d77736;
  color: white;
  }
}

.modal-cancel-btn {
  font-weight: bold;
  color: white;
}

#see-albums{
  width: 220px;
  padding: 5px;
  position: relative;
  left: -315px;
  margin-bottom: 10px;
  margin-top: 10px;
}
