// Album Cards

.album-card {
  height: 150px;
  width: 200px;
  object-fit: cover;
  a{
    text-decoration: none;
  }
}

#search-card {
  transition-duration: 0.2s;
}

#search-card:hover {
  transform: translateY(-2px);
}

#bordenha {
  border-radius: 10px;
  padding-left: 0;
}

#banner-image > img {
  border-radius: 0 10px 10px 0;
}

.card-albums {
  border-radius: 15px;
  text-align: center;
  background: white;
  text-align: -webkit-center;
  p{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 150px;
    margin-bottom: 0;
  }
  a{
    text-decoration: none;
  }
}

.trip-form {
  border-radius: 15px;
}
