// Album Cards

.album-card {
  height: 180px;
  width: 250px;
  object-fit: cover;
  a{
    text-decoration: none;
  }
}

.card-albums {
  border-radius: 15px;
  text-align: center;
  background: white;
  text-align: -webkit-center;
  p{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 150px;
    margin-bottom: 0;
  }
  a{
    text-decoration: none;
  }
}

.album-name {
  position: relative;
  left: 150px;
}

.album-edit-delete {
  position: relative;
  left: 170px;
}

// Seacrch-card

#search-card {
  transition-duration: 0.2s;
  transition: box-shadow .3s;
  width: fit-content;
}

.trip-name {
  font-size: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 2.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-right: 8px;
}

.card-div:hover {
  box-shadow: 0 0 10px rgba(33,33,33,.2);
}

#bordenha {
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
  height: 200px;
}

#banner-image > img {
  border-radius: 0 10px 10px 0;
  object-fit: cover;
  width: 100%;
}

// Chatroom cards

.chatroom-list{
  list-style: none;
  width: 200px;
  height: 1.5rem;
  background-color: $tiffany-blue;
  margin-top: 2px;
  margin-left: 2px;
  a{
    color: white;
    text-decoration: none;
  }
  &:hover {
    background-color: $deep-green;
  }
}

// Notification Cards

.card-align{
  text-align: -webkit-center;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 50%;
  text-align: start;
  border-radius: 5px;
}

.accepted {
  height: 100%;
  width: 100%;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-homepg .card-infos-home {
  padding: 16px;
}

.card-product .card-product-infos {
  padding: 16px;
}

@media only screen and (max-width: 995px) {
  .card-product{
    width: 70%;
  }

  .accepted {
    width: 100%;
  }
}

@media only screen and (max-width: 765px) {
  .card-product{
    height: 190px;
    width: 70%;
    text-align: center;
    justify-content: center;
  }

  .accepted {
    width: 100%;
  }
}

@media only screen and (max-width: 330px) {
  .card-product h2{
    display: none;
  }
  .card-product{
    height: 190px;
    width: 100%;
  }
}

// Cards Home

.card-homepg {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  }

.card-homepg p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-homepg img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-homepg h2 {
  width: 50%;
  text-align: start;
  border-radius: 5px;
}

// Card for Albums index (all albums)

#albums-card:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.card {
  margin-bottom: 22px;
}
