// Album Cards

.album-card {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#search-card {
  transition-duration: 0.2s;
}

#search-card:hover {
  transform: translateY(-2px);
}

#bordenha {
  border-radius: 10px;
  padding-left: 0;
}

#banner-image > img {
  border-radius: 0 10px 10px 0;
}
