.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon-home {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-home .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-buttons{
  margin: 3px;
  width: 120px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.navbar-lewagon-white {
  background-color: white;
}

.notification {
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: -2px;
  display: none;
}

.active {
  display: inline;
}
